<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Security Settings -->
    <!-- Public key for Marvel API -->
    <add key="MarvelApiPublicKey" value="" />
    <!-- Private key for Marvel API -->
    <add key="MarvelApiPrivateKey" value="" />
    <!-- Full path for Google Translate API JSON file -->
    <add key="GoogleAuthJsonPath" value="" />

    <!-- Web/API Settings -->
    <!-- If true, enables compression for Marvel API requests to improve performance -->
    <add key="UseCompression" value="true" />
    <!-- Read/write timeout for Web/API calls -->
    <add key="TimeoutMilliSecs" value="60000" />
    <!-- Maximum number of results to return from Marvel API -->
    <add key="ResultLimit" value="100" />
    <!-- Maximum number of pages to cycle through on calls which require paging -->
    <add key="PageLimit" value="20" />
    <!-- Access point for Marvel API character call -->
    <add key="GetCharactersUrl" value="https://gateway.marvel.com:443/v1/public/characters" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Translate.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.875" newVersion="1.35.1.875" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>