<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Security Settings -->
    <add key="Password" value=""/>
    <add key="EncryptedApiPublicKey" value=""/>
    <add key="EncryptedApiPrivateKey" value=""/>

    <!-- API Settings -->
    <add key="UseCompression" value="true"/>
    <add key="TimeoutMilliSecs" value="60000"/>
    <add key="ResultLimit" value="100"/>
    <add key="PageLimit" value="20"/>
    <add key="GetCharactersUrl" value="https://gateway.marvel.com:443/v1/public/characters"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>